body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #1b1b1b; /* Dark background */
    color: #dcdcdc; /* Light text color */
}

h1 {
    color: #e2b057; /* Rust-inspired color */
}

label {
    margin-bottom: 10px;
    display: inline-block;
}

input[type="text"] {
    padding: 10px;
    width: calc(100% - 20px);
    border: 2px solid #e2b057; /* Rust-inspired border */
    border-radius: 5px;
    background-color: #2c2c2c; /* Darker input field */
    color: #dcdcdc;
}

input[type="text"]:focus {
    outline: none;
    border-color: #d8b24e; /* Lighter rust color on focus */
    transition: border-color 0.3s;
}

#autocomplete-list {
    border: 1px solid #e2b057; /* Rust border */
    z-index: 999;
    position: absolute;
    background-color: #2c2c2c; /* Darker background for suggestions */
    max-height: 200px;
    overflow-y: auto;
    width: calc(100% - 20px); /* Full width minus padding */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Fade-in effect */
}

.autocomplete-item {
    padding: 10px;
    cursor: pointer;
    color: #dcdcdc; /* Text color */
    transition: background-color 0.3s;
}

.autocomplete-item:hover {
    background-color: #4c4c4c; /* Dark hover color */
}

#search-btn {
    background-color: #e2b057; /* Rust-inspired button color */
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #1b1b1b; /* Dark text */
    font-weight: bold;
    transition: background-color 0.3s;
}

#search-btn:hover {
    background-color: #d8b24e; /* Lighter rust on hover */
}

#item-info {
    margin-top: 20px;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease-in-out; /* Fade-in effect */
}

#item-info.visible {
    opacity: 1; /* Show item info */
}
